.imagenav {
    display: inline;
    width: 350px;
    height: 100%;
    transition: scale 2s;
}
.imagenav:hover {
    transform: scale(1, 0.9);
 
}
#textnav {
    font-family: JUST;
    color: $colorletralight;
    text-decoration: none;
    margin: 5px;
    transition: font-size 0.1s linear;
}
#textnav:hover {
    font-size: 150%;

}
.botonnav {
    background-color: $colorgrisoscuro;

}

#textfooter {
    font-family: JUST;
    color: $colorletralight;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    list-style: none;



}
#textcontacto {
    font-family: $fontjust;
    color: $negronav;
}

.imgbienvenida {

    width: 100%;
}
.cajamain {
    height: 100px;
    vertical-align: middle;
    background-color: $colorgreenaqua;
    margin: 10px 0px 20px 0px;
    padding: 20px 10px 20px 0px ;
}
.textend {

    font-family: 'Courier New', Courier, monospace;
    text-align: end;
    vertical-align: middle;
    color: $negronav;



}

.textcenterbebas {
    font-family: BEBAS;
    text-align: center;
    color: $negronav;
    text-decoration: none;

}
.textstartbebas {
    font-family: BEBAS;
    text-align: start;
    color: $negronav;
    text-decoration: none;

}
.textcenterbebaslight {
    font-family: BEBAS;
    text-align: center;
    color: $colorletralight;
}


.tarjslogan {
    height: 100px;
}
.imgcarousel {
    height: 100%;
    align-items: center;
    background-color: $colorgreenaqua;
    justify-content: center;
}
#sectionuno {
    background-color: $colorgreenaqua;
    margin-top: 20px;
}
#sectiondos {
    margin-top: 20px;

}
.textoqs {
    margin: 20px;

}
.cajaqs {

    background-color: $colorgris;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#videoqs {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
#cardsqs {
    margin-top: 20px;
}

.textcouriercenter {

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: bottom;


}
.textcouriercenterlight {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: bottom;
    color: $colorletralight;

}
.textcenterjustlight {
    font-family: $fontjust;
    text-decoration: none;
    color: $colorletralight;
    text-align: center;

}


#iconosredes {
    color: $colorletralight;
    // background-color: $negronav;
    font-size: 40px;
    margin: 0px 20px 0px 20px;
    // border-radius: 50%;
    transition: color 0.5s linear;
}
#iconosredes:hover {
   color: $negronav;

}
#iconos {
    background-color: $negronav;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 0px 20px 0px 20px;
    border-radius: 50%;
    transition: background-color 0.5s linear;

    
}
#iconos:hover {
    background-color: $colorletralight;

}
#imgfooter {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ;

} 
#imgfooter:hover {
    transform: scale(1, 0.8);

}

#imgfooter2 {
    width: 300px;
    transition: transform 0.5s;
}
#imgfooter2 {
    transform: scale(1, 0.8);
}
#divder {
    background-color: $colorgrisoscuro;

    

}
#derres {
    background-color: $colorgrisoscuro;
    display: flex;
    justify-content: center;
    align-items: end;
}

#iconosqs {
    color: $colorletralight;
    font-size: 120px;
    margin: 10px 100px 0px 100px;
    transition: color 0.3s linear;   
}
#iconosqs:hover {
    color: $colorgrisoscuro;
}
.iconosredesdiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.imail {
    color: $colorletralight;
    text-decoration: none;
    margin-right: 10px;
}
.itel {
    color: $colorletralight;
    text-decoration: none;
    margin-right: 10px;
}
.cardi {
 
    transition: transform 5s linear;


}
.cardi:hover {
    transform: translateY(-10px) scale(1, 1.01);
 

    background-color: $colorgreenaqua;
}
.cajai {
    background-color: $colorletralight;
}