@media (min-width: 1440px) {
    
    #textnav {

        font-size: 1.7rem;

    }
    #textfooter {
        font-size: 1.5rem;

    
    }
    .textcenterbebas{
        font-size: 2.5rem;

    }
    .textcouriercenter {

        font-size: 1.5rem;

    }
    .imputcontact {
        width: 800px;

    }
    .textcenterjustlight {
        font-size: 2.5rem;
    }
    .textcenterbebaslight {
        font-size: 2.5rem;

    }


}

@media (min-width: 992px) and (max-width: 1440px) {

    #textnav {

        font-size: 1.5rem;

    }
    #textfooter {
        font-size: 1rem;

    
    }
    .textcenterbebas{
        font-size: 2.2rem;

    }
    .textcouriercenter {

        font-size: 1.2rem;

    }

    .imputcontact {
        width: 600px;

    }
    .textcenterjustlight {
        font-size: 2.2rem;
    }
    .textcenterbebaslight {

        font-size: 2.2rem;

    }
    #imgoyp {
        width: 220px;
    }
    #divoyp {
        width: 200px;
    }
 
    
 
}

@media (max-width: 992px) {

    #textnav {

        font-size: 2rem;

    }
    .textcenterbebas{
        font-size: 2rem;

    }
    .textcouriercenter {

        font-size: 1.6rem;

    }
    .imputcontact {
        width: 400px;

    }
    .textcenterjustlight {
        font-size: 2rem;
    }
    .cajaqs {
        height: 800px;
    }
    .textcenterbebaslight {
        font-size: 2rem;
    }
    #iconosqs {
        font-size: 100px;
    }


 

}