@font-face {
    font-family: JUST;
    src: url(../assets/font/static/Jost-Black.ttf);
}
$fontjust: JUST;

@font-face {
    font-family: BEBAS;
    src: url(../assets/font/BebasNeue-Regular.ttf);
}
$fontbebas: BEBAS;

$negronav: #000000;
$colorletralight: #f0f8ff;
$colorbody: #f0f8ff;
$colorgreenaqua:  #7ebbb7;
$colorgris: #545454;
$colorgrisoscuro: #1b1b1b;
